parameters:
    level: 8
    phpVersion: 70200
    paths:
        - src
        - tests
    excludePaths:
        - tests/fixtures/mapping/SimpleObject.php
        - tests/unit/NameNormalizerTest.php
    ignoreErrors:
        - '#Call to an undefined method Reflection([\w<>]+)::getAttributes\(\)\.#'
        - '#.+ (type|class) ReflectionAttribute\.#'
services:
    -
        class: \MacFJA\RediSearch\Integration\tests\phpstan\PsrEventDispatcher
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
