parameters:
    level: 8
    phpVersion: 70200
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Reflection([\w<>]+)::getAttributes\(\)\.#'
services:
    -
        class: \MacFJA\RediSearch\Integration\tests\phpstan\PsrEventDispatcher
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
